<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">
	<listeners>
		<listener class-name="baseTestEcommerce.TestNgListeners" />
	</listeners>

	<test name="product ordering Test">
		<classes>
			<class name="javaTest.AddToChart" />
		</classes>
	</test> <!-- Test -->

	<test name="Error valdation">
		<classes>
			<class name="javaTest.ErrorValidations" />
		</classes>
	</test>
</suite> <!-- Suite -->
